<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <record model="ir.actions.act_window" id="survey.action_survey_form">
            <field name="name">CEMS</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    CEMS
                </p>
            </field>
        </record>


        <menuitem id="bes_menu" name="BES" sequence="1" web_icon="bes,static/description/icon.png" />

        <menuitem id="course_master_menu" parent="bes_menu" name="Course Master" sequence="1" />

        <menuitem id="course_menu" parent="course_master_menu" name="Courses" action="course_master_action" sequence="1" />
        <menuitem id="subject_menu" parent="course_master_menu" name="Subject" action="subject_master_action" sequence="2" />



        <menuitem id="institute_menu" parent="bes_menu" name="Institute" action="institute_action" sequence="2"/>

        <menuitem id="examiner_menu" parent="bes_menu" name="Examiner" action="bes_examiner_action" sequence="3"/>

        <menuitem id="candidate_menus" parent="bes_menu" name="Candidates"  sequence="4"/>

        <!-- <menuitem id="candidate_all_action" 
                  parent="candidate_menus" 
                  name="All Candidates"
                  action="candidate_action"
                  sequence="1" /> -->
        
        <!-- <menuitem id="candidate_cc_menu" 
                  parent="candidate_menus" 
                  name="CCMC Candidates"
                  action="candidate_cc_rating_action"
                  sequence="2" />
           -->
        
        <menuitem id="candidate_gp_rating_menu" 
                  parent="candidate_menus" 
                  name="GP Candidates"
                  action="gp_candidate_action"
                  sequence="3" />
        
        <menuitem id="candidate_ccmc_menu" 
                  parent="candidate_menus" 
                  name="CCMC Candidates"
                  action="candidate_ccmc_action"
                  sequence="4" />


        <menuitem id="bes_exams_menu" 
                  parent="bes_menu" 
                  name="Exams"
                  sequence="5" />

        <menuitem id="bes_exam" 
                  parent="bes_exams_menu" 
                  name="GP Exam"
                  groups=""
                  action="bes_gp_exam_action"
                  sequence="1" />

        <!-- <menuitem id="bes_batch_examiner_duty_menu" 
                  parent="bes_batch_menu" 
                  name="Examiner Practical/Oral Duty" 
                  action="bes_examiner_oral_practical_duty_action" 
                  sequence="2"/> -->

        <menuitem id="bes_batch_examiner_duty_menus_group_examiner" sequence="0" name="Examiner Practical/Oral Duty" action="bes_examiner_oral_practical_duty_action" groups="bes.group_examiners" />

        <menuitem id="exam_center_menu" parent="bes_menu" name="Exam Region" action="exam_center_action" />

        <menuitem id="batches_menu" parent="bes_menu" name="Batches" action="gpbatch_form_kanban_action" />


        <record id="survey.menu_surveys" model="ir.ui.menu">
            <field name="name">CEMS</field>
        </record>

        <record id="survey.menu_survey_form" model="ir.ui.menu">
            <field name="name">CEMS</field>
        </record>

        <!-- <record id="bes.bes_menu" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('bes.group_examiners')])]"/>
        </record>

        <record id="bes.bes_batch_menu" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('bes.group_examiners')])]"/>
        </record>

        <record id="bes.bes_batch_examiner_duty_menus" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('bes.group_examiners')])]"/>
        </record> -->

        


    </data>
</odoo>