<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <record model="ir.actions.act_window" id="survey.action_survey_form">
            <field name="name">Examinations</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    Examinations
                </p>
            </field>
        </record>

        <record id="open_ec_gp_exam_schedule_mek_prac" model="ir.actions.act_window">
            <field name="name">GP Registered Candidate</field>
            <field name="res_model">gp.exam.schedule</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="bes.exam_center_registered_candidate_tree" />
            <field name="domain">[
                ('hold_admit_card', '=', False),
                ('attempting_mek_oral_prac', '=', True),                
            ]</field>
            <field name="context">{}</field>
        </record>


        <record id="open_ec_gp_exam_schedule_gsk_prac" model="ir.actions.act_window">
            <field name="name">GP Registered Candidate</field>
            <field name="res_model">gp.exam.schedule</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="bes.exam_center_registered_candidate_tree" />
            <field name="domain">[
                ('hold_admit_card', '=', False),
                ('attempting_gsk_oral_prac', '=', True),                
            ]</field>
            <field name="context">{}</field>
        </record>

        <record id="open_ec_gp_exam_schedule_gsk_online" model="ir.actions.act_window">
            <field name="name">GP Registered Candidate</field>
            <field name="res_model">gp.exam.schedule</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="bes.exam_center_registered_candidate_tree" />
            <field name="domain">[
                ('hold_admit_card', '=', False),
                ('attempting_gsk_online', '=', True),                
            ]</field>
            <field name="context">{}</field>
        </record>

        <record id="open_ec_gp_exam_schedule_mek_online" model="ir.actions.act_window">
            <field name="name">GP Registered Candidate</field>
            <field name="res_model">gp.exam.schedule</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="bes.exam_center_registered_candidate_tree" />
            <field name="domain">[
                ('hold_admit_card', '=', False),
                ('attempting_mek_online', '=', True),                
            ]</field>
            <field name="context">{}</field>
        </record>


        <!-- <record id="open_ec_gp_exam_schedule_form" model="ir.actions.act_window">
            <field name="name">GP Registered Candidate</field>
            <field name="res_model">gp.exam.schedule</field>
            <field name="view_mode">form</field>
            <field name="view_id" ref="bes.exam_center_registered_candidate_form"/>
            <field name="context">{}</field>
        </record> -->

        <record id="open_ec_ccmc_exam_schedule_cookery" model="ir.actions.act_window">
            <field name="name">CCMC Registered Candidate</field>
            <field name="res_model">ccmc.exam.schedule</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="bes.exam_center_ccmc_registered_candidate_tree" />
            <field name="view_id" ref="bes.exam_center_ccmc_registered_candidate_tree" />
            <field name="domain">[
                ('hold_admit_card', '=', False),
                ('attempting_cookery', '=', True),                
            ]</field>
            <!-- Replace 'module_name' with the actual name of your module -->
            <field name="context">{}</field>
        </record>

        <record id="open_ec_ccmc_exam_schedule_oral" model="ir.actions.act_window">
            <field name="name">CCMC Registered Candidate</field>
            <field name="res_model">ccmc.exam.schedule</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="bes.exam_center_ccmc_registered_candidate_tree" />
            <field name="view_id" ref="bes.exam_center_ccmc_registered_candidate_tree" />
            <field name="domain">[
                ('hold_admit_card', '=', False),
                ('attempting_oral', '=', True),                
            ]</field>
            <!-- Replace 'module_name' with the actual name of your module -->
            <field name="context">{}</field>
        </record>

        <record id="open_ec_ccmc_exam_schedule_online" model="ir.actions.act_window">
            <field name="name">CCMC Registered Candidate</field>
            <field name="res_model">ccmc.exam.schedule</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="bes.exam_center_ccmc_registered_candidate_tree" />
            <field name="view_id" ref="bes.exam_center_ccmc_registered_candidate_tree" />
            <field name="domain">[
                ('hold_admit_card', '=', False),
                ('attempting_online', '=', True),                
            ]</field>
            <!-- Replace 'module_name' with the actual name of your module -->
            <field name="context">{}</field>
        </record>

       

        <record id="action_examination_report" model="ir.actions.act_window">
            <field name="name">Examination Reports</field>
            <field name="res_model">examination.report</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="action_repeater_candidate_approval" model="ir.actions.act_window">
            <field name="name">Repeater Candidate Approval</field>
            <field name="res_model">repeater.candidate.approval</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="menu_repeater_candidate_approval" name="Repeater Candidate Approval"
            parent="bes_menu" action="action_repeater_candidate_approval" sequence="10" />


        <menuitem id="bes_menu" name="BES" groups="bes.group_bes_admin" sequence="1"
            web_icon="bes,static/description/icon.png" />

        <menuitem id="course_master_menu" parent="bes_menu" name="Course Master" sequence="1" />

        <menuitem id="course_menu" parent="course_master_menu" name="Courses"
            action="course_master_action" sequence="1" />
        <menuitem id="subject_menu" parent="course_master_menu" name="Subject"
            action="subject_master_action" sequence="2" />

        <menuitem 
        id="timesheet_menu" 
        parent="bes_batch_examiner_duty_menus_group_examiner" 
        name="Timesheet"
        groups="bes.group_bes_admin"
        action="action_time_sheet_form" 
        sequence="20" />


        <menuitem id="institute_menu" parent="bes_menu" name="Institute Master"
            action="institute_action" sequence="2" />

        <menuitem id="exam_menu" parent="bes_menu" name="Examiner Master" sequence="3" />
        <menuitem id="exam_center_menu" parent="exam_menu" name="Exam Region"
            action="exam_center_action" />
        <menuitem id="examiner_menu" parent="exam_menu" name="Examiner Master"
            action="bes_examiner_action" sequence="2" />

        <menuitem id="candidate_menus" parent="bes_menu" name="Candidate Master" sequence="4" />


        <menuitem id="odoo_website_helpdesk.menu_helpdesk" name="Helpdesk"
            action="odoo_website_helpdesk.help_ticket_action"
            sequence="1" groups="bes.group_bes_admin"
        />

        <menuitem name="Website"
            id="website.menu_website_configuration"
            sequence="95"
            groups="bes.group_bes_admin"
        />


        <menuitem
            id="hr.menu_hr_root"
            name="Employees"
            groups="hr.group_hr_manager,hr.group_hr_user,bes.group_bes_admin"
            sequence="185" />

        <menuitem name="Contacts"
            id="contacts.menu_contacts"
            sequence="20"
            groups="bes.group_bes_admin" />


        <menuitem
            id="calendar.mail_menu_calendar"
            name="Calendar"
            sequence="10"
            action="calendar.action_calendar_event"
            web_icon="calendar,static/description/icon.png"
            groups="bes.group_bes_admin" />


        <menuitem
            id="menu_bes_user"
            name="Examiner"
            action="hr.hr_department_kanban_action"
            parent="hr.menu_hr_employee_payroll"
            sequence="1" />


        <!-- hr_department_kanban_action -->


        <!-- <menuitem id="candidate_all_action" 
                  parent="candidate_menus" 
                  name="All Candidates"
                  action="candidate_action"
                  sequence="1" /> -->

        <!-- <menuitem id="candidate_cc_menu" 
                  parent="candidate_menus" 
                  name="CCMC Candidates"
                  action="candidate_cc_rating_action"
                  sequence="2" />
           -->
        <record id="previous_candidate_ccmc_rating_menu" model="ir.actions.act_window">
            <field name="name">Non Profile CCMC Repeater</field>
            <field name="res_model">ccmc.candidate</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[
                ('previous_repeater', '=', True),
                '|',
                ('candidate_image_status', '=', 'pending'),
                ('candidate_signature_status', '=', 'pending'),

                ]</field>
            <!-- <field name="domain">[('previous_repeater', '=', True),('candaidate_image_status',
            '=', 'pending'),('candaidate_image_status', '=', 'pending')]</field> -->
        </record>

        <record id="previous_candidate_ccmc_rating_tree_view" model="ir.actions.act_window.view">
            <field eval="1" name="sequence" />
            <field name="view_mode">tree</field>
            <field name="view_id" ref="previous_ccmc_candidate_tree" />
            <field name="act_window_id" ref="previous_candidate_ccmc_rating_menu" />

        </record>

        <record id="book_order_action" model="ir.actions.act_window">
            <field name="name">Book Orders</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">order.books</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[]</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">Book Orders</p>
            </field>
        </record>

        


        <menuitem id="prev_candidate_ccmc_rating_menu"
            parent="candidate_menus"
            name="CCMC Non-Profile Candidate"
            action="previous_candidate_ccmc_rating_menu"
            sequence="2" />


        <record id="previous_candidate_gp_rating_menu" model="ir.actions.act_window">
            <field name="name">Non Profile GP Repeater</field>
            <field name="res_model">gp.candidate</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[
                ('previous_repeater', '=', True),
                '|',
                ('candidate_image_status', '=', 'pending'),
                ('candidate_signature_status', '=', 'pending'),

                ]</field>
        </record>

        <record id="previous_candidate_gp_rating_tree_view" model="ir.actions.act_window.view">
            <field eval="1" name="sequence" />
            <field name="view_mode">tree</field>
            <field name="view_id" ref="previous_gp_candidate_tree" />
            <field name="act_window_id" ref="previous_candidate_gp_rating_menu" />
        </record>


        <menuitem id="prev_candidate_gp_rating_menu"
            parent="candidate_menus"
            name="GP Non-Profile Candidate"
            action="previous_candidate_gp_rating_menu"
            sequence="1" />


        <menuitem id="candidate_gp_rating_menu"
            parent="candidate_menus"
            name="GP Candidates"
            action="gp_candidate_action"
            sequence="3" />

        <menuitem id="candidate_ccmc_menu"
            parent="candidate_menus"
            name="CCMC Candidates"
            action="candidate_ccmc_action"
            sequence="4" />

        <menuitem id="sep_reg_menu"
            parent="candidate_menus"
            name="SEP Registration"
            action="sep_reg_action"
            sequence="5" />


        <menuitem id="bes_exams_menu"
            parent="bes_menu"
            name="Exam Marksheet Master"
            sequence="5" />

        <menuitem id="bes_exam"
            parent="bes_exams_menu"
            name="GP Exam"
            groups=""
            action="bes_gp_exam_action"
            sequence="1" />


        <menuitem id="bes_ccmc_exam"
            parent="bes_exams_menu"
            name="CCMC Exam"
            groups=""
            action="bes_ccmc_exam_action"
            sequence="2" />


        <!-- <menuitem id="bes_batch_examiner_duty_menu" 
                  parent="bes_batch_menu" 
                  name="Examiner Practical/Oral Duty" 
                  action="bes_examiner_oral_practical_duty_action" 
                  sequence="2"/> -->

        <menuitem id="bes_batch_examiner_duty_menus_group_examiner"
            sequence="0" name="E.C. Portal"
            action="bes_examiner_oral_practical_duty_action"
            groups="bes.group_exam_coordinator"
            web_icon="bes,static/description/books.png" />


        <menuitem id="batches_menu" parent="bes_menu" name="Institute Batches" />

        <menuitem id="gp_batches_menu"
            parent="batches_menu" name="GP Batch"
            action="gpbatch_form_kanban_action" />

        <menuitem id="ccmc_batches_menu" parent="batches_menu" name="CCMC Batch"
            action="ccmc_batches_action" />


        <menuitem id="dgs_batch_menu"
            parent="bes_menu"
            name="Exam Batches"
            action="dgs_batch_action" />

        <menuitem id="report_master_menu"
            parent="bes_menu"
            name="Report Master" />


        <menuitem id="menu_examination_report" name="Examination Reports"
            parent="report_master_menu" action="action_examination_report" sequence="10" />


        <record id="survey.menu_surveys" model="ir.ui.menu">
            <field name="name">Examinations</field>
        </record>

        <record id="survey.menu_survey_form" model="ir.ui.menu">
            <field name="name">Examinations</field>
        </record>


        <menuitem id="ship_visit_menu"
            parent="bes_menu"
            name="Ship Visits" />

        <menuitem id="gp_ship_visit_menu"
            parent="ship_visit_menu"
            name="GP Ship Visits"
            action="gp_candidate_ship_visits_action" />

        <menuitem id="ccmc_ship_visit_menu"
            parent="ship_visit_menu"
            name="CCMC Ship Visits"
            action="ccmc_candidate_ship_visits_action" />
            
        <menuitem id="book_order_menu"
            parent="bes_menu"
            name="Book Order"
            action="book_order_action" />

        <menuitem id="exam_duty_menu"
            parent="bes_batch_examiner_duty_menus_group_examiner"
            name="Examiner Duty"
            action="bes_examiner_oral_practical_duty_action"
            sequence="1" />

        <menuitem id="exam_assign_menu"
            parent="bes_batch_examiner_duty_menus_group_examiner"
            name="Examiner Assignments"
            action="view_exam_assignments_action"
            groups="bes.group_bes_admin,bes.group_exam_coordinator"
            sequence="10" />

        <menuitem id="examiner_ec_menu"
            parent="bes_batch_examiner_duty_menus_group_examiner"
            name="Examiner"
            groups="group_exam_coordinator"
            action="bes_examiner_action"
            sequence="2" />

        <menuitem id="candidate_ec_menu"
            parent="bes_batch_examiner_duty_menus_group_examiner"
            groups="group_exam_coordinator"
            name="Candidates" />
        
        <menuitem id="candidate_gp_ec_menu_gsk"
            parent="candidate_ec_menu"
            groups="group_exam_coordinator"
            name="GSK Practical/Oral Candidates"
            action="open_ec_gp_exam_schedule_gsk_prac"
            sequence="1" />

        <menuitem id="candidate_gp_ec_menu_mek"
            parent="candidate_ec_menu"
            groups="group_exam_coordinator"
            name="MEK Practical/Oral Candidates"
            action="open_ec_gp_exam_schedule_mek_prac"
            sequence="2" />
        
        <menuitem id="candidate_gp_ec_menu_gsk_online"
            parent="candidate_ec_menu"
            groups="group_exam_coordinator"
            name="GSK Online Candidates"
            action="open_ec_gp_exam_schedule_gsk_online"
            sequence="3" />
        
        <menuitem id="candidate_gp_ec_menu_mek_online"
            parent="candidate_ec_menu"
            groups="group_exam_coordinator"
            name="MEK Online Candidates"
            action="open_ec_gp_exam_schedule_mek_online"
            sequence="4" />
        
        

        <menuitem id="candidate_ccmc_ec_menu_cookery"
            parent="candidate_ec_menu"
            groups="group_exam_coordinator"
            name="CCMC Practical"
            action="open_ec_ccmc_exam_schedule_cookery"
            sequence="5" />

        <menuitem id="candidate_ccmc_ec_menu_oral"
            parent="candidate_ec_menu"
            groups="group_exam_coordinator"
            name="CCMC Oral Candidate"
            action="open_ec_ccmc_exam_schedule_oral"
            sequence="6" />

        <menuitem id="candidate_ccmc_ec_menu_online"
            parent="candidate_ec_menu"
            groups="group_exam_coordinator"
            name="CCMC Online Candidate"
            action="open_ec_ccmc_exam_schedule_online"
            sequence="6" />

        <record id="gp_repeater_invoices_action" model="ir.actions.act_window">
            <field name="name">GP Repeater Candidate Invoices</field>
            <field name="res_model">account.move</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[
                ('gp_repeater_candidate_ok', '=', True)
                ]</field>
            <field name="context">{'group_by': 'repeater_exam_batch'}</field>

        </record>


        <menuitem id="menu_gp_repeater_invoices"
            parent="account.menu_finance_receivables"
            name="GP Repeater Candidate Invoices"
            groups="account.group_account_manager"
            action="gp_repeater_invoices_action"
            sequence="0" />

        
        <record id="survey_online_assignment_action" model="ir.actions.act_window">
            <field name="name">Online Assignments</field>
            <field name="res_model">exam.type.oral.practical.examiners</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="bes.commence_online_exam_tree" />
            <field name="domain">[
                ('exam_type', '=', 'online')
                ]</field>
        </record>


        <menuitem id="menu_survey_online_assignments"
            parent="survey.menu_surveys"
            name="Online Assignments"
            action="survey_online_assignment_action"
            sequence="0" />

        <record id="ccmc_repeater_invoices_action" model="ir.actions.act_window">
            <field name="name">CCMC Repeater Candidate Invoices</field>
            <field name="res_model">account.move</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[
                ('ccmc_repeater_candidate_ok', '=', True)
                ]</field>
            <field name="context">{'group_by': 'repeater_exam_batch'}</field>

        </record>


        <menuitem id="menu_ccmc_repeater_invoices"
            parent="account.menu_finance_receivables"
            name="CCMC Repeater Candidate Invoices"
            action="ccmc_repeater_invoices_action"
            groups="account.group_account_manager"
            sequence="0" />

        <record id="institute_batches_invoices_actions" model="ir.actions.act_window">
            <field name="name">Institute Invoices</field>
            <field name="res_model">account.move</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">['|',
                ('gp_batch_ok', '=', True),
                ('ccmc_batch_ok', '=', True)
                ]</field>
        </record>


        <menuitem id="menu_institute_invoices"
            parent="account.menu_finance_receivables"
            name="Institute Invoices"
            action="institute_batches_invoices_actions"
            groups="account.group_account_manager"
            sequence="0" />


        <!-- <record id="bes.bes_menu" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('bes.group_examiners')])]"/>
        </record>

        <record id="bes.bes_batch_menu" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('bes.group_examiners')])]"/>
        </record>

        <record id="bes.bes_batch_examiner_duty_menus" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('bes.group_examiners')])]"/>
        </record> -->

        <menuitem id="menu_expenses" parent="bes_batch_examiner_duty_menus_group_examiner"
            name="Expenses"
            sequence="12"
             />
        
        
        <menuitem id="menu_batch_expenses" parent="menu_expenses"
            name="Batch Expenses" action="open_batch_expenses"
            sequence="1"
             />

        <menuitem id="menu_examiner_expenses" parent="menu_expenses"
            name="Examiner Expenses" action="open_examiner_expenses"
            sequence="2"
             />

        <menuitem id="menu_ec_expenses" parent="menu_expenses"
            name="EC Expenses" action="open_ec_expenses"
            sequence="3"
             />
        

        <menuitem id="menu_expenses_approval" parent="bes_batch_examiner_duty_menus_group_examiner"
            name="Expense Approval"
            action="open_expense_approval_action"
            sequence="13"
             />

        


    </data>
</odoo>