<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <record model="ir.actions.act_window" id="survey.action_survey_form">
            <field name="name">CEMS</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    CEMS
                </p>
            </field>
        </record>


        <menuitem id="bes_menu" name="BES" sequence="1" />

        <menuitem id="course_master_menu" parent="bes_menu" name="Course Master" sequence="1" />

        <menuitem id="course_menu" parent="course_master_menu" name="Courses" action="course_master_action" />


        <menuitem id="institute_menu" parent="bes_menu" name="Institute" action="institute_action" />

        <menuitem id="examiner_menu" parent="bes_menu" name="Examiner" action="bes_examiner_action" />

        <menuitem id="candidate_menu" parent="bes_menu" name="Candidate" action="candidate_action" />

        <menuitem id="bes_batch_menu" parent="bes_menu" name="Schedule" action="bes_institute_batch_action" />

        <menuitem id="exam_center_menu" parent="bes_menu" name="Exam Center" action="exam_center_action" />

        <menuitem id="batches_menu" parent="bes_menu" name="Batches" action="batch_form_kanban_action" />


        <record id="survey.menu_surveys" model="ir.ui.menu">
            <field name="name">CEMS</field>
        </record>

        <record id="survey.menu_survey_form" model="ir.ui.menu">
            <field name="name">CEMS</field>
        </record>


    </data>
</odoo>