
.oe_report{
    border: 3px solid #4c2d8b;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
    height: 100vh;
}

.backgroundd{
    background-image: url("/bes/static/src/img/watermark.png");
    background-repeat: no-repeat;
    background-position: 175px 510px;
    background-size: 500px 500px;
}
    
.oe_structure{
    border: 1px solid #4c2d8b;

}
#header {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #4c2d8b;
    position: relative;
}

.font{
    font-family:'timesNewRoman';font-weight:100;font-size: 13px;
}
    
    
@font-face {
    font-family: 'TimesNewRomanBold';
    src: url('/bes/static/src/fonts/Times New Roman Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TimesNewRoman';
    src: url('/bes/static/src/fonts/times.ttf') format('truetype');  
    font-weight: normal;
    font-style: normal;
}

td{
    padding: 0;
}